In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataframes/pos_df.csv')
df.head()

,Sample Name,CAS9-A,CAS9-A.1,CAS9-B,CAS9-B.1,CAV_A,CAV_A.1,CAV_B,CAV_B.1,CAVIN_A,...,SPTLC_B,SPTLC_B.1,UGCG-A,UGCG-A.1,UGCG-B,UGCG-B.1,WT_A,WT_A.1,WT_B,WT_B.1
0,Hex2Cer 26:3;2 (LCB 18:0;2-2H2O),167.0000,143.0000,125.0000,132.0000,171.6091,182.9007,120.0000,120.0000,281.3523,...,130.0000,142.0000,68.0529,46.4729,88.0000,91.0000,229.5233,278.1255,206.0000,182.0000
1,Hex2Cer 26:2;2 (LCB 18:0;2-2H2O),53.2158,52.8015,47.4908,76.2783,27.6563,23.0569,9.0712,24.0712,0.0000,...,0.0000,2.1176,47.2560,62.7063,11.1856,0.0000,10.8768,6.0672,0.0000,34.4747
2,Hex2Cer 26:2;2 (LCB 18:0;2-2H2O),167.8122,131.3388,220.0689,128.3439,342.9760,331.4596,268.9979,289.4925,295.0869,...,290.0353,223.3067,187.9922,219.2679,231.3212,219.2373,329.9421,313.2847,251.0406,226.8066
3,Hex2Cer 26:2;2 (LCB 18:0;2-H2O),54.0000,47.0000,39.0000,44.0000,74.0000,64.0000,84.5341,88.7361,70.0000,...,44.0000,37.0000,48.6404,51.9843,38.9995,52.0000,62.0000,57.0000,51.0000,40.0000
4,Hex2Cer 26:0;2 (LCB 18:0;2-2H2O),391.2240,326.4641,444.7720,385.3202,175.0126,296.5953,238.6997,214.9442,215.1018,...,309.7805,272.9937,373.2111,292.2522,348.9607,348.3176,304.3199,271.4133,303.6544,253.3654

In [3]:
df_exps = pd.read_csv('dataframes/pos_df_exps.csv')

In [4]:
print(df_exps['Mutation'].unique())

['CAS9' 'CAV' 'CAVIN' 'CERS2_mg' 'CERS2-1g' 'CERS5' 'Flot2' 'RAJU' 'SPTLC'
 'UGCG' 'WT']

In [5]:
df_meta2 = pd.read_csv('dataframes/pos_lipids_df_meta2.csv')

In [6]:
import functions
df_p = functions.df_p(df, df_exps)
df_merged = df_meta2.merge(df_p, on='Sample Name')

In [82]:
# Find which head groups contribute to chain lengths over 50
df_over50 = df_merged[df_merged['Acyl Chain Length'] > 49]
print(df_over50['Head Group'].value_counts(normalize=True))

MADAG    0.686047
TAG      0.281977
NAPE     0.031977
Name: Head Group, dtype: float64

In [83]:
# Find top 5 head groups that contribute to chain lengths under 30
df_under30 = df_merged[df_merged['Acyl Chain Length'] < 30]
vals = df_under30['Head Group 2'].value_counts(normalize=True)[:5]
print(vals)
print('Total Fraction:', vals.sum())

Hex_Cer    0.253150
GD         0.152348
SGalCer    0.126002
GM         0.114548
GT         0.097365
Name: Head Group 2, dtype: float64
Total Fraction: 0.7434135166093929

In [94]:
# Find head groups that contribute to chain lengths under 20
df_under20 = df_merged[df_merged['Acyl Chain Length'] < 20]
vals = df_under20['Head Group 2'].value_counts(normalize=True)
print(vals)
print('Number of Lipids:', len(df_under20['Head Group 2']))

LPC            0.482759
LPE            0.241379
LDMPE          0.172414
LMMPE          0.086207
DAG,TAG,MAG    0.017241
Name: Head Group 2, dtype: float64
Number of Lipids: 58