# Import Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import functions
import numpy as np

In [2]:
# raw data
df = pd.read_csv('dataframes/pos_df.csv')
df.sample(3)

,Sample Name,CAS9-A,CAS9-A.1,CAS9-B,CAS9-B.1,CAV_A,CAV_A.1,CAV_B,CAV_B.1,CAVIN_A,...,SPTLC_B,SPTLC_B.1,UGCG-A,UGCG-A.1,UGCG-B,UGCG-B.1,WT_A,WT_A.1,WT_B,WT_B.1
3809,"SGalCer 36:1;3 (LCB 18:1;2-2H2O,LCB 18:0;3-3H2O)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0
1113,MMPE 36:4 (-MMPE),64.0,81.0,81.0,51.0,62.0,54.0,84.0,48.0,86.0,...,62.0,71.0,89.0,84.000,105.0,98.0,97.0,102.0,81.0,92.0
802,GD1 26:2;2 (LCB 18:0;2-2H2O),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,53.782,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# experiment metadata
df_exps = pd.read_csv('dataframes/pos_df_exps.csv')
df_exps.sample(3)

        Exp Mutation
36   UGCG-B     UGCG
2    CAS9-B     CAS9
20  CERS5-A    CERS5

In [4]:
# lipid metadata
df_meta2 = pd.read_csv('dataframes/pos_lipids_df_meta2.csv')
df_meta2.sample(3)

,Sample Name,Head Group,Acyl Chain Length,Unsaturation,Head Group 2,Unsaturation 2
5250,TAG 44:5+NH4 (-FA 16:2 (NH4)),TAG,44,5,"DAG,TAG,MAG",>=3
4044,"GM1 42:1;2 (LCB 18:1;2-H2O,LCB 18:0;3-2H2O)",GM1,42,1,GM,1
35,"Hex2Cer 35:2;2 (LCB 18:1;2-H2O,LCB 18:0;3-2H2O)",Hex2Cer,35,2,Hex_Cer,2

In [5]:
# reformat columns
df_p = functions.df_p(df, df_exps)
df_p.head()

Mutation,CAS9,CAS9,CAS9,CAS9,CAV,CAV,CAV,CAV,CAVIN,CAVIN,...,SPTLC,SPTLC,UGCG,UGCG,UGCG,UGCG,WT,WT,WT,WT
Sample Name,,,,,,,,,,,,,,,,,,,,,
Hex2Cer 26:3;2 (LCB 18:0;2-2H2O),167.0000,143.0000,125.0000,132.0000,171.6091,182.9007,120.0000,120.0000,281.3523,184.3462,...,130.0000,142.0000,68.0529,46.4729,88.0000,91.0000,229.5233,278.1255,206.0000,182.0000
Hex2Cer 26:2;2 (LCB 18:0;2-2H2O),53.2158,52.8015,47.4908,76.2783,27.6563,23.0569,9.0712,24.0712,0.0000,13.8507,...,0.0000,2.1176,47.2560,62.7063,11.1856,0.0000,10.8768,6.0672,0.0000,34.4747
Hex2Cer 26:2;2 (LCB 18:0;2-2H2O),167.8122,131.3388,220.0689,128.3439,342.9760,331.4596,268.9979,289.4925,295.0869,224.9824,...,290.0353,223.3067,187.9922,219.2679,231.3212,219.2373,329.9421,313.2847,251.0406,226.8066
Hex2Cer 26:2;2 (LCB 18:0;2-H2O),54.0000,47.0000,39.0000,44.0000,74.0000,64.0000,84.5341,88.7361,70.0000,51.0000,...,44.0000,37.0000,48.6404,51.9843,38.9995,52.0000,62.0000,57.0000,51.0000,40.0000
Hex2Cer 26:0;2 (LCB 18:0;2-2H2O),391.2240,326.4641,444.7720,385.3202,175.0126,296.5953,238.6997,214.9442,215.1018,214.6494,...,309.7805,272.9937,373.2111,292.2522,348.9607,348.3176,304.3199,271.4133,303.6544,253.3654

# One-Way ANOVA - Odds

In [6]:
# %pip install scipy

In [7]:
from scipy.stats import f_oneway
from scipy.stats import dunnett

In [8]:
# import odds data
df_odds = pd.read_csv('dataframes/pos_df_odds.csv')
df_odds.head()

  Mutation       odd      even
0     CAS9  0.025079  0.974921
1     CAS9  0.035813  0.964187
2     CAS9  0.025719  0.974281
3     CAS9  0.040462  0.959538
4      CAV  0.019239  0.980761

In [9]:
# reformat data into arrays for each mutation
df_odds_agg = df_odds[['Mutation','odd']].groupby('Mutation', as_index=True).odd.apply(np.array)
df_odds_agg.head()

Mutation
CAS9        [0.0250790916946102, 0.0358128216430987, 0.025...
CAV         [0.0192387792134248, 0.0127705079775463, 0.020...
CAVIN       [0.0332286531888394, 0.0333678006749146, 0.036...
CERS2-1g    [0.0249991304634732, 0.0199930855972587, 0.021...
CERS2_mg    [0.0133687904173157, 0.0266619565989788, 0.028...
Name: odd, dtype: object

In [10]:
print(*df_odds_agg)

[0.02507909 0.03581282 0.02571877 0.04046224] [0.01923878 0.01277051 0.02022906 0.02078622] [0.03322865 0.0333678  0.03625956 0.03178837] [0.02499913 0.01999309 0.02185855 0.02062182] [0.01336879 0.02666196 0.02873482 0.02687406] [0.02294828 0.01912686 0.02374499 0.02365047] [0.0289843  0.03073564 0.03233896 0.03463304] [0.03144209 0.01281677 0.03160594 0.03039399] [0.02852444 0.03214696 0.03941527 0.04029798] [0.03583028 0.03781113 0.04232463 0.04344322]

In [11]:
print('F-statistic and p-value for percentage of odd chain lengths between mutations')
f_oneway(*df_odds_agg)

F-statistic and p-value for percentage of odd chain lengths between mutations

F_onewayResult(statistic=7.076233841749475, pvalue=2.000814631749214e-05)

In [12]:
df_odds_agg

Mutation
CAS9        [0.0250790916946102, 0.0358128216430987, 0.025...
CAV         [0.0192387792134248, 0.0127705079775463, 0.020...
CAVIN       [0.0332286531888394, 0.0333678006749146, 0.036...
CERS2-1g    [0.0249991304634732, 0.0199930855972587, 0.021...
CERS2_mg    [0.0133687904173157, 0.0266619565989788, 0.028...
CERS5       [0.0229482838125045, 0.0191268620830812, 0.023...
Flot2       [0.0289843045966665, 0.0307356383153398, 0.032...
SPTLC       [0.0314420874791157, 0.0128167684186993, 0.031...
UGCG        [0.0285244414306175, 0.0321469599164273, 0.039...
WT          [0.0358302751094197, 0.0378111289452934, 0.042...
Name: odd, dtype: object

In [13]:
# dunnett test
control=df_odds_agg['CAS9']
print(dunnett(*df_odds_agg, control=control))
print('There is a significant difference between the percentage of odds in CAVIN and CAS9')

Dunnett's test (95.0% Confidence Interval)
Comparison               Statistic  p-value  Lower CI  Upper CI
 (Sample 0 - Control)      0.000     1.000    -0.011     0.011
 (Sample 1 - Control)     -3.497     0.011    -0.025    -0.002
 (Sample 2 - Control)      0.490     0.999    -0.009     0.013
 (Sample 3 - Control)     -2.562     0.100    -0.021     0.001
 (Sample 4 - Control)     -2.034     0.276    -0.019     0.003
 (Sample 5 - Control)     -2.433     0.130    -0.021     0.002
 (Sample 6 - Control)     -0.025     1.000    -0.011     0.011
 (Sample 7 - Control)     -1.347     0.717    -0.016     0.006
 (Sample 8 - Control)      0.861     0.965    -0.008     0.014
 (Sample 9 - Control)      2.092     0.250    -0.003     0.019

There is a significant difference between the percentage of odds in CAVIN and CAS9

# Two-Way ANOVA - Head Group

In [14]:
# long form of data
hg_long = functions.norm_long(df_meta2, 
                    df_p, 
                    var='Head Group 2',
                    renamed_var='Head_Group',
                    drop_mutation=['WT', 'RAJU'],
                   )
hg_long.head()

  Mutation   Head_Group  Fraction
0     CAS9  DAG,TAG,MAG  0.063226
1     CAS9  DAG,TAG,MAG  0.077570
2     CAS9  DAG,TAG,MAG  0.070757
3     CAS9  DAG,TAG,MAG  0.084759
4      CAV  DAG,TAG,MAG  0.055945

In [15]:
# import statistical modeling libraries
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [22]:
model = ols('Fraction ~ Mutation + Head_Group + Mutation:Head_Group', data=hg_long).fit()
print('Effects of Mutation and Head Group on Fraction')
sm.stats.anova_lm(model, typ=2)

Effects of Mutation and Head Group on Fraction

                           sum_sq     df             F         PR(>F)
Mutation             9.196391e-30    8.0  4.546407e-26   1.000000e+00
Head_Group           6.530025e+00   19.0  1.359259e+04   0.000000e+00
Mutation:Head_Group  9.071890e-02  152.0  2.360451e+01  1.310650e-166
Residual             1.365378e-02  540.0           NaN            NaN

In [23]:
# long form of data
hg_long_npc = functions.norm_long(df_meta2, 
                              df_p, 
                              var='Head Group 2',
                              renamed_var='Head_Group',
                              drop_mutation=['WT', 'RAJU'],
                              drop_var=['PC', 'PE', 'PS', 'SM']
                   )
hg_long_npc.head()

  Mutation   Head_Group  Fraction
0     CAS9  DAG,TAG,MAG  0.063226
1     CAS9  DAG,TAG,MAG  0.077570
2     CAS9  DAG,TAG,MAG  0.070757
3     CAS9  DAG,TAG,MAG  0.084759
4      CAV  DAG,TAG,MAG  0.055945

In [25]:
model = ols('Fraction ~ Mutation + Head_Group + Mutation:Head_Group', data=hg_long_npc).fit()
print('Effects of Mutation and Head Group on Fraction - no PC/PE/SM/PS')
sm.stats.anova_lm(model, typ=2)

Effects of Mutation and Head Group on Fraction - no PC/PE/SM/PS

                       sum_sq     df            F         PR(>F)
Mutation             0.002561    8.0    32.756912   3.173286e-40
Head_Group           0.202378   15.0  1380.598432   0.000000e+00
Mutation:Head_Group  0.023005  120.0    19.617064  5.169274e-119
Residual             0.004222  432.0          NaN            NaN

There is a significant difference between mutations when PC/PE/SM/PS are removed. There is also a significant interaction effect.

# Two-Way ANOVA - Chain Length

In [26]:
# long form of data
cl_long = functions.norm_long(df_meta2, 
                    df_p, 
                    var='Acyl Chain Length',
                    renamed_var='Chain_Length',
                    drop_mutation=['WT', 'RAJU'],
                    drop_var=list(range(1,70,2))
                   )
cl_long.head()

  Mutation Chain_Length  Fraction
0     CAS9           10  0.000000
1     CAS9           10  0.000000
2     CAS9           10  0.000000
3     CAS9           10  0.000000
4      CAV           10  0.000006

In [30]:
model = ols('Fraction ~ Mutation + Chain_Length + Mutation:Chain_Length', data=cl_long).fit()
print('Effects of Mutation and Chain Length(evens) on Fraction')
sm.stats.anova_lm(model, typ=2)

Effects of Mutation and Chain Length(evens) on Fraction

                         sum_sq     df             F         PR(>F)
Mutation               0.000046    8.0      0.432722   9.016399e-01
Chain_Length           4.289988   24.0  13430.575119   0.000000e+00
Mutation:Chain_Length  0.033606  192.0     13.151029  5.185298e-141
Residual               0.008984  675.0           NaN            NaN

# Two Way ANOVA - Unsaturation

In [31]:
# long form of data
u_long = functions.norm_long(df_meta2, 
                    df_p, 
                    var='Unsaturation 2',
                    renamed_var='Unsaturation',
                    drop_mutation=['WT', 'RAJU'],
                   )
u_long.head()

  Mutation Unsaturation  Fraction
0     CAS9            0  0.114223
1     CAS9            0  0.128700
2     CAS9            0  0.119011
3     CAS9            0  0.125114
4      CAV            0  0.119593

In [32]:
model=ols('Fraction ~ Mutation + Unsaturation + Mutation:Unsaturation', data=u_long).fit()
print('Effect of Mutation and Unsaturation on Fraction')
sm.stats.anova_lm(model, typ=2)

Effect of Mutation and Unsaturation on Fraction

                             sum_sq     df             F         PR(>F)
Mutation               9.308183e-31    8.0  1.444622e-27   1.000000e+00
Unsaturation           1.449201e+00    3.0  5.997725e+03  6.443030e-120
Mutation:Unsaturation  7.482342e-02   24.0  3.870843e+01   2.451501e-42
Residual               8.698503e-03  108.0           NaN            NaN

There is a significant difference between unsaturation levels, and a significant interaction effect.